<div class="experience-page-div">
    <h1>Experience</h1>
        <h2 class="internship-title">{{ internship }}</h2>
            <p>{{internshipTopic}}</p>
            <p>{{internshipTopic2}}</p>
            <p>{{internshipTopic3}}</p>
            <p>{{internshipTopic4}}</p>
        <h2>{{ webdevUW }}</h2>
            <p>{{webdevUWTopic}}</p>
            <p>{{webdevWebHacks}}</p>
        <h2>{{degree}}</h2>
            <p>{{degreeTopic}}</p>
            <h3>{{degreeCourseTitle}}</h3>
            <p>{{degreeCourses}}</p>
        <h2>{{teachingAssistant}}</h2>
            <p> {{teachingAssistantTopic1}}</p>
            <p> {{teachingAssistantTopic2}}</p>
    <h1>Skills</h1>
        <h2>{{languagesTitle}}</h2>
        <div class="chips-list">
            <mat-chip-listbox>
                <mat-chip>
                    Java
                </mat-chip>
                <mat-chip>
                    JavaScript
                </mat-chip>
                <mat-chip>
                    Python
                </mat-chip>
                <mat-chip>
                    TypeScript
                </mat-chip>
                <mat-chip>
                    C
                </mat-chip>
                <mat-chip>
                    HTML
                </mat-chip>
                <mat-chip>
                    CSS
                </mat-chip>
            </mat-chip-listbox>
        </div>
        <h2>{{frameworksTitle}}</h2>
            <div class="chips-list">
            <mat-chip-listbox>
                <mat-chip>
                    Angular
                </mat-chip>
                <mat-chip>
                    React
                </mat-chip>
                <mat-chip>
                    SpringBoot
                </mat-chip>
                <mat-chip>
                    Three.JS
                </mat-chip>
            </mat-chip-listbox>
            </div>
        <h2>{{otherToolsTitle}}</h2>
            <div class="chips-list">
            <mat-chip-listbox>
                <mat-chip>
                    Git
                </mat-chip>
                <mat-chip>
                    Docker
                </mat-chip>
                <mat-chip>
                    Bash
                </mat-chip>
                <mat-chip>
                    CI/CD Deployments
                </mat-chip>
            </mat-chip-listbox>
            </div>
</div>