<div class="experience-page-div">
    <h1>Experience</h1>
        <h2 class="internship-title">{{ internship }}</h2>
            <p *ngFor="let topic of internshipTopics">{{topic}}</p>
        <h2>{{ webdevUW }}</h2>
            <p *ngFor="let topic of webdevUWTopics">{{topic}}</p>
        <h2>{{degree}}</h2>
            <p>{{degreeTopic}}</p>
            <h3>{{degreeCourseTitle}}</h3>
            <p>{{degreeCourses}}</p>
        <h2>{{teachingAssistant}}</h2>
            <p *ngFor="let topic of teachingAssistantTopics"> {{topic}}</p>
    <h1>Skills</h1>
        <h2>{{languagesTitle}}</h2>
        <div class="chips-list">
            <mat-chip-listbox> 
                <mat-chip *ngFor="let lang of languagesList">
                    <p>{{lang}}</p>
                    <img matChipAvatar *ngIf="lang === 'Java'" height="18px" src="https://raw.githubusercontent.com/michaelc143/personal-angular-site/main/src/app/java-icon.png">
                </mat-chip>
            </mat-chip-listbox>
        </div>
        <h2>{{frameworksTitle}}</h2>
            <div class="chips-list">
            <mat-chip-listbox>
                <mat-chip *ngFor="let framework of frameworksList">
                    {{framework}}
                </mat-chip>
            </mat-chip-listbox>
            </div>
        <h2>{{otherToolsTitle}}</h2>
            <div class="chips-list">
            <mat-chip-listbox>
                <mat-chip *ngFor="let tool of otherToolsList">
                    {{tool}}
                </mat-chip>
            </mat-chip-listbox>
            </div>
</div>