.experience-page-div {
    text-align: center;
    padding-top: 3.5rem;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.chips-list {
    display: flex;
    justify-content: center !important;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

mat-chip {
    background-color: #552583 !important;
    margin: 0.2rem;
}

mat-divider {
    border-top-color: #333 !important;
}

mat-chip-set {
    justify-content: center !important;
}
