.projects-page {
  text-align: center;
  padding-top: 3.5rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  h3 {
    padding-bottom: 1rem;
  }
}

.api-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    padding: 0.5rem;
  }
}

.dark-mode-card {
  background-color: #552582;
  transition: background-color 0.5s ease;
}

mat-card {
  text-align: center;
  display: flex;
  align-items: center;
  img {
    max-width: 90%;
  }
  background-color: inherit;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  .mat-mdc-card-header {
    justify-content: center;
    padding-bottom: .5rem;
  }
  mat-panel-description {
    display: flex;
    justify-content: center;
    margin-right: 0 !important;
  }
  mat-expansion-panel,
  mat-panel-description {
    background-color: inherit !important;
    color: inherit !important;
  }
  mat-card-content {
    padding: 1rem 0;
  }
  margin-bottom: 5rem;
}

.fade-in-text {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.projects-title {
  padding-top:1rem;
}

.projects-header {
  margin-top: 0 !important;
}

.bouncing-text{
  animation-name: bounce-7;
  display: inline-table;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}