.projects-page {
    text-align: center;
    padding-top: 3.5rem;
    a {
        text-decoration: none;
        color: inherit;
    }
    h3 {
        padding-bottom: 1rem;
    }
}

.api-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
        padding: 0.5rem;
    }
}

.dark-mode-card {
    background-color: #552582;
    transition: background-color 0.5s ease;
}

mat-card {
    text-align: center;
    display: flex;
    align-items: center;
    img {
        max-width: 90%;
    }
    background-color: inherit;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    .mat-mdc-card-header {
        justify-content: center;
        padding-bottom: .5rem;
    }
    mat-panel-description {
        display: flex;
        justify-content: center;
        margin-right: 0 !important;
    }
    mat-expansion-panel,
    mat-panel-description {
        background-color: inherit !important;
        color: inherit !important;
    }
    mat-card-content {
        padding: 1rem 0;
    }
    margin-bottom: 5rem;
}