<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FL9923MFTY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FL9923MFTY');
</script>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Michael Corbishley Logo" src="https://raw.githubusercontent.com/michaelc143/personal-angular-site/main/src/logo.png" />
  <a routerLink="" class="toolbar-name" matRipple [matRippleCentered]="true">
    <span class="my-name">Michael Corbishley</span>
  </a>
  <app-app-dark-mode-toggle></app-app-dark-mode-toggle>
    <div class="spacer"></div>
    <a href="https://www.linkedin.com/in/michael-corbishley/" target="_blank" matRipple [matRippleCentered]="true" matTooltip="Link to my Linkedin!">
      <img class="linkedin-logo" src="https://static-00.iconduck.com/assets.00/linkedin-icon-512x512-sam6sbc4.png">
    </a>
    <div class="github-link">
      <a target="_blank" href="https://github.com/michaelc143" matRipple [matRippleCentered]="true" matTooltip="Link to my Github!">
        <img width="35" alt="Octicons-mark-github" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/64px-Octicons-mark-github.svg.png">
      </a>    
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="menu-btn">Pages</button>
    <mat-menu #menu="matMenu">
    <a aria-label="experience" class="experience-div" routerLink="experience" matRipple [matRippleCentered]="true" matTooltip="My experience in software!">
      <span mat-menu-item class="exp-and-skills">Experience & Skills
        <mat-icon>work</mat-icon>
      </span>
    </a>
    <a aria-label="projects" class="skills-div" routerLink="projects" matRipple [matRippleCentered]="true" matTooltip="Some of my previous projects!">
      <span mat-menu-item class="projects-link">Projects
        <mat-icon>gesture</mat-icon>
      </span>
    </a>
    <a aria-label="projects" target="_blank" href="https://michaelc143.github.io/personal-react-site/" matRipple [matRippleCentered]="true" matTooltip="My resume hosted on github pages!">
      <span mat-menu-item class="contact-link">Resume
      <mat-icon>business</mat-icon>
      </span>
    </a>
    <a href="mailto:mcorbishley@wisc.edu" matRipple [matRippleCentered]="true" matTooltip="Click here to email me!">
      <span mat-menu-item class="contact-link">Contact me here!
      <mat-icon>email</mat-icon>
      </span>
    </a>
  </mat-menu>
</div>
<router-outlet></router-outlet>
<footer>
  
  <button class="homeBtn" routerLink="">
    <div class="homebuttondiv">
      Home
      <mat-icon>home</mat-icon>
    </div>
  </button>
  <svg width="100%" height="100%" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" overflow="auto" shape-rendering="auto" fill="#ffffff">
    <defs>
     <path id="wavepath" d="M 0 2000 0 500 Q 106 379 212 500 t 212 0 212 0 212 0 212 0 212 0 212 0  v1000 z" />
     <path id="motionpath" d="M -424 0 0 0" /> 
    </defs>
    <g >
     <use xlink:href="#wavepath" y="30" fill="#552582">
     <animateMotion
      dur="5s"
      repeatCount="indefinite">
      <mpath xlink:href="#motionpath" />
     </animateMotion>
     </use>
    </g>
  </svg>
</footer>