<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Michael Corbishley Logo" src="../favicon.ico" />
  <a routerLink="" class="toolbar-name">
    <span>Michael Corbishley</span>
  </a>
    <div class="spacer"></div>
    <a aria-label="experience" class="experience-div" routerLink="experience">
      <span>Experience</span>
    </a>
    <a aria-label="skills" class="skills-div" routerLink="skills">
      <span>Skills</span>
    </a>
    <a aria-label="projects" class="skills-div" routerLink="projects">
      <span>Projects</span>
    </a>
</div>
<router-outlet></router-outlet>
<footer>
  <button class="homeBtn" routerLink="">Home</button>
  <a href="https://github.com/michaelc143" target="_blank"><button class="githubBtn">GitHub</button></a>
  <a href="https://www.linkedin.com/in/michael-corbishley/" target="_blank"><button class="linkedinBtn">LinkedIn</button></a>
  <!-- <p>&copy; 2023 Michael Corbishley</p> -->
</footer>



<!-- ADD A PROGRESS BAR SOMEWHERE WITH NXG-PROGRESSBAR AND npm install ngx-progressbar -->
