<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 class="welcome-header">{{ welcomeHeader }}</h1>
            <h2>{{ toolbarTip }}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img class="profile-pic-mobile" src="https://avatars.githubusercontent.com/u/79810775?v=4">
        <div class="nameAndPhoto">
            <img class="profile-pic" src="https://avatars.githubusercontent.com/u/79810775?v=4">
                <p> {{ para1 }}
                    <br/>
                        <img class="angular-logo" alt="Angular" width="30px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" />
                        <img class="react-logo" alt="React" width="30px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
                        <img class="python-logo" alt="Python" width="30px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg" />
                        <img class="java-logo" alt="Java" width="30px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"/>
                    <br/>
                    {{ para2 }}
                </p>
            </div>
    </mat-card-content>
</mat-card>
