.profile-pic {
  border-radius: 50%;
  width: 100%; /* Set image width to 100% of its container */
  max-width: 15rem; /* Set a maximum width for the image */
  height: auto; /* Let the height adjust automatically */
  padding-right: 0.5rem;
  transition: all 0.5s ease;
}

.profile-pic-mobile {
  border-radius: 50%;
  width: 100%; /* Set image width to 100% of its container */
  max-width: 15rem; /* Set a maximum width for the image */
  height: auto; /* Let the height adjust automatically */
  padding-right: 0.5rem;
  transition: all 0.5s ease;
}

@media (min-width: 474px) {
  .mobile-title {
    display: none;
  }
}

@media (max-width: 473px) {
  .desktop-title {
    display: none;
  }
}

@media (min-width: 769px) {
  .profile-pic-mobile {
    display: none;
  }
}

/* Media query for screens with a maximum width of 768px (typical mobile devices) */
@media (max-width: 768px) {
  .profile-pic {
    display:none;
  }
}

.dark-mode-card {
  background-color: #2d3748;
  transition: background-color 0.3s ease;
}

mat-card {
  display: flex !important;
  background-color: inherit;
  border-radius: 8px;
  margin-top: 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  .nameAndPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .mat-mdc-card-header {
    justify-content: center !important;
  }
  mat-card-content {
    max-width: 600px;
    margin: auto;
  }
}

.angular-logo,
.python-logo,
.react-logo,
.java-logo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fade-in-text { animation: fadeIn 2s ease-in; }

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

mat-card mat-card-title h1 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.dark-mode-card mat-card-title h1 {
  color: #61dafb;
}

mat-card mat-card-title h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #7f8c8d;
  margin-top: 0.5rem;
}

.dark-mode-card mat-card-title h2 {
  color: #b8c5d1;
}